@import url("main.css");

#selection{
	font-size: 15px;
	height: 24px;
	width: 300px;
	border-radius: 8px;
	border-style: solid;
	border-color: #CCC;
	text-align: center;
}

#button{
	position: absolute;
	margin: 0px 5px;
	top: 100px;
	font-size: 20px;
	border-radius: 8px;
	background-color: #EEE;
	border-style: solid;
	border-color: #EEE;
	border-bottom: #CCC;
}
#button:hover{
	background-color: #FFF;
}

#center{
	height: 400px;
	margin-bottom: 20px;
}

img{
	width: 500px;
	height: auto;
}
